<h1>Event Listings</h1>
<a routerLink="/bucketlist">See Favorites</a>
<div 
    *ngFor="let event of eventList; index as i">
    <p>{{ event.name }}</p>
    <p>{{ event.dates.start.localDate }}</p>
    <p>{{ event.dates.start.localTime }}</p>
    <p (click)="getDetails(event.id, i)">More details...</p>
    <app-details
        *ngIf="event.show"
        ></app-details>
    <button (click)="addFave(eventList[i])">Favorites</button>
</div>
<a routerLink="/home">Return to search</a>

<!-- (toggleDetailsEvent)="toggleDetails()" -->
