section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.event {
  width: 25%;
  margin: 20px;
  background: rgba(255, 255, 255, 0.596);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(117, 113, 113);
}

main {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 45px;
  margin-top: 0;
}

img {
  width: 100%;
}

button {
  width: 100%;
}

.seeMore {
  color: rgb(107, 97, 97);
  text-align: right;
}

.seeMore:hover {
  cursor: pointer;
  text-decoration: underline;
}

.details {
  /* background: rgba(218, 208, 208, 0.822); */
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* .show {
  display: hidden;
} */
