<form
  #form="ngForm"
  (ngSubmit)="
    getData(
      form.value.keyword,
      form.value.city,
      form.value.startDate,
      form.value.endDate
    )
  "
>
  <div>
    <label for="keyword">Search for Keyword</label>
    <input
      type="text"
      id="keyword"
      name="keyword"
      placeholder="keyword"
      ngModel
    />
    <label for="city">Location</label>
    <input type="text" id="city" name="city" ngModel placeholder="location" />
  </div>
  <div>
    <label for="startDate">From?</label>
    <input type="date" id="startDate" name="startDate" ngModel />
    <label for="endDate">To?</label>
    <input type="date" id="endDate" name="endDate" ngModel />
  </div>
  <button>FIND EVENTS!</button>
</form>

<app-event-list></app-event-list>
