#favoriteContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px 0px rgb(117, 113, 113);
  background: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

h1 {
  font-size: 45px;
  margin: 0 30px;
}

a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background: rgb(172, 89, 161);
}

#favInfo {
  display: flex;
  border: none;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#favDetails {
  width: 100%;
  flex-direction: row;
  display: flex;
  border: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#removeButton {
  padding: 5px;
}
