<main>
  <h1>Your Favorite Events</h1>
  <div id="favoriteContainer" *ngFor="let fave of faveList; index as i">
    <div id="favInfo">
      <p>{{ fave.name }}</p>
      <p>{{ fave.dates.start.localDate }}</p>
      <p>{{ fave._embedded.venues[0].city.name }}</p>
      <p class="seeMore" (click)="getDetails(i)">More details...</p>
      <button id="removeButton" (click)="removeFavorite(i)">Remove</button>
    </div>
    <div *ngIf="fave.show" class="details" id="favDetails">
      <p>Venue: {{ fave._embedded.venues[0].name }}</p>
      <p>
        Address: {{ fave._embedded.venues[0].address.line1 }}
        {{ fave._embedded.venues[0].address.line2 }}
      </p>
      <p>Time: {{ fave.dates.start.localTime }}</p>
      <p><a href="{{ fave.url }}" target="_blank">Ticket information</a></p>
    </div>
  </div>
</main>
