<main>
  <section class="welcome">
    <h1>Welcome to Event Guru!</h1>
    <h3>Seach upcoming events for your favorite arists, comedies, shows, and sporting events!</h3>
    <h2>Start your search now!</h2>
  </section>
  <section class="adds">
    <div class="ticket">
      <h1>Powered by:</h1>
      <img id="ticketmaster" src="../../assets/ticketmaster-5-logo.png">
    </div>
    <div class="GC">
      <h1>And brought to you by the students of:</h1>
      <img id="grandcircus" src="../../assets/grand_circus.png">
    </div>
  </section>
</main>
